.App{
  display: flex;
  flex-direction: column;
  height: 100vh
}

.listeMessages{
  display: flex;
  flex-direction: column;
  height: auto;
  flex-grow: 5;
}

.envoie{
  display: flex;
  align-items: center;
  height: 50px;
  background-color: peachpuff;
  padding: 2%;
  border-radius: 10px 10px 0px 0px;
}

.formEnvoie{
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

input{
  flex-grow: 1;
  height: 30px;
  border-radius: 8px;
  border: 1px gray solid;
}
